header.Header {
	display: none !important;
}
label strong {
	color: #137C71;
}
#lcbcLanguageChanger {
	position: fixed;
	right: 0.5em;
	text-align: center;
	top: 35%;
	z-index: 9999;
}
#lcbcLanguageChanger button {
	clear: left;
	display: block;
	margin-bottom: 0.3em;
}
#lcbcLanguageChanger img {
	width: 48px;
}
#lcbcLogoWrapper {
	text-align: center;
}
#lcbcLogoWrapper img{
	margin-bottom: 1.5em;
	width: 250px;
}